# Server Configuration
HOST=0.0.0.0
PORT=8000

# Gemini API Configuration
GEMINI_API_KEY=#gemini-api-key
GEMINI_MODEL=gemini-2.0-flash

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:5500,http://localhost:3000
